<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- required = "required" meta tags -->
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<link href="css/main.css" rel="stylesheet"></link>

<title>Spring Boot File Upload / Download Rest API Example</title>

<!-- Bootstrap CSS -->
</head>
<body>
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">

		<div>
			<table class="table table-striped">
				<h3>文件列表</h3>
				<thead>
					<tr>
						<th>序号</th>
						<th>文件名</th>
						<th>访问者ID</th>
						<th>上次访问时间</th>
						<th>累计隐私值</th>
						<th>最近一小时访问次数</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr
						th:each="historyViewObject,historyViewObjectStat : ${historyViewObjects}">
						<td th:text="${historyViewObjectStat.count}"></td>
						<td th:text="${historyViewObject.fileName}"></td>
						<td th:text="${historyViewObject.userName}"></td>
						<td th:text="${historyViewObject.lastAcessDate}"></td>
						<td th:text="${historyViewObject.totalSensitiveValue}"></td>
						<td th:text="${historyViewObject.visitTimes}"></td>
						<td><a th:if="${role}=='ADMIN'" th:value="${historyViewObject.userId}"
							th:id="${historyViewObject.fileId}"  type="button"
							class="clearButton btn btn-primary  btn-sm"
							style="margin-right: 15px;">清空历史</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<hr></hr>

		<div class="modal fade" id="fileDetailModal" tabindex="-1"
			role="dialog" aria-labelledby="fileDetailModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div th:replace="fragments/fileDetailForm :: fileDetailForm"></div>
				</div>
			</div>
		</div>


		<div th:replace="fragments/footer :: footer(libs='fileUpload, main, profile')"></div>
	</div>

</body>
</html>
