<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
</head>


<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">

		<div id="userManagerButtons" class="configuration-table-buttons">
			<a id="addButton" type="button"
				class="btn btn-primary margin-left " data-toggle="modal"
				data-target="#userModal"
				th:href="@{/configuration/userform?userId=-1}"><span
				class="glyphicon glyphicon-plus"></span>添加用户</a>

		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover configuration-table">
					<thead>
						<tr>
							<th class="col-md-1">用户名</th>
							<th class="col-md-3">角色</th>
							<th class="col-md-3">操作</th>
						</tr>
					</thead>
					<tbody>
						<div>
							<tr th:each="user : ${users}" th:attr="row-id=${user.id}">
								<td class="col-md-3" th:text="${user.userName}"></td>
								<td class="col-md-3" th:text="${user.role}"></td>
								<th class="col-md-2">
									<div class="dropdown operations">
										<button type="button"
											class="btn btn-default btn-sm dropdown-toggle"
											id="dropdownMenu1" data-toggle="dropdown"
											aria-haspopup="true">
											<span class="glyphicon glyphicon-option-horizontal"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
											<li><a
												th:href="@{'/configuration/userform?userId=' + ${user.id}}"
												data-toggle="modal" data-target="#userModal"> <span
													class="glyphicon glyphicon-pencil"></span><span>编辑</span>
											</a></li>
											<li><a th:unless="${isAvailableLDAP}" type="button"
												id="resetPasswordButton" th:attr="userId=${user.id}"> <span
													class="glyphicon glyphicon-lock"></span><span>重置密码</span>
											</a></li>
											<li><a type="button"
												id="deleteUserButton" th:attr="userId=${user.id}"> <span
													class="glyphicon glyphicon-remove-sign"></span><span>删除用户</span>
											</a></li>
										</ul>
									</div>
								</th>
							</tr>
						</div>
					</tbody>
				</table>
			</div>
		</div>


		<div class="modal fade" id="userModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div th:replace="fragments/configurationForm :: userForm"></div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div
			th:replace="fragments/footer :: footer(libs='configuration, profile')"></div>
	</div>
</body>

</html>
